body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(29, 29, 29); /* TODO: replace with theme colors */
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
