body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}
